<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: #FF4C13;">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-text mx-3" style="font-size: 13px;"><span><strong>SPREADNEWS admin</strong></span></div>
        </a>
        <hr class="sidebar-divider my-0">
   
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link active" href="index.html"><i class="fas fa-tachometer-alt"></i><span style="font-weight: bold;">Dashboard</span></a></li>
            <li class="nav-item"><a class="nav-link" href="profile.html"><i class="fas fa-user"></i><span><strong>Profile</strong></span></a></li>
            <li class="nav-item"><a class="nav-link" href="addstory.html"><i class="fa fa-newspaper-o"></i><span><strong>Add Articles</strong></span></a></li>
            <li class="nav-item"><a class="nav-link" href="ownarticles.html"><i class="fa fa-newspaper-o"></i><span><strong>Own Articles</strong></span></a></li>
            <li class="nav-item"><a class="nav-link" href="authorarticles.html"><i class="fa fa-newspaper-o"></i><span><strong>View Articles</strong></span></a></li>
            <li class="nav-item"><a class="nav-link" href="authors.html"><i class="fas fa-user"></i><span><strong>View Authors</strong></span></a></li>
            <li class="nav-item"><a class="nav-link" href="deletedarticles.html"><i class="fa fa-trash-o"></i><span><strong>&nbsp;Deleted Articles</strong><br></span></a></li>
            <li class="nav-item"><a class="nav-link" href="profile.html"><i class="fa fa-power-off"></i><span><strong>LogOut</strong></span></a></li>
        </ul>
       


        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>
