





  





<div id="wrapper">
    <!------side menu-------->

<app-sidemenuadmin></app-sidemenuadmin>



    <!---------------------->
      <div class="d-flex flex-column" id="content-wrapper">
          <div id="content">
          <!---------top nav-->

            <!---------top nav-->
            <app-topnav></app-topnav>
            <!------------------>


          <!------------------>




          <section class="register-photo" style="background: rgb(255,255,255);">
             <div class="container">
                <h1 style="font-size: 17px;">Deleted Articles</h1>
                <div class="table-responsive" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">
                    <table class="table">
                        <thead class="table-dark">
                            <tr style="font-size: 13px;">
                                <th>#</th>
                                <th><i class="fa fa-user-circle"></i>&nbsp;Author</th>
                                <th><i class="fa fa-newspaper-o"></i>&nbsp;Title</th>
                                <th><i class="fa fa-newspaper-o"></i>&nbsp;Category</th>
                                <th><i class="fa fa-image"></i>&nbsp;Image</th>
                                <th><i class="fa fa-newspaper-o"></i>&nbsp;Content</th>
                                <th><i class="fa fa-cog"></i>&nbsp;Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="font-size: 12px;" *ngFor="let item of info| paginate: { itemsPerPage: 6,currentPage: q };let i=index;">
                                <td>{{i+1}}</td>
                                <td>{{item.firstname}} {{item.lastname}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.category}}</td>
                                <td><img src="{{item.img_url}}" style="height: 54px;"></td>
                                <td>{{item.content|slice:0:100}}</td>
                             
                                <td><button class="btn btn-success" type="button" style="color: rgb(255,255,255);font-size: 12px;" (click)=restore(item)>Restore</button></td>
                               
                            </tr>
                            
                            
                        
                        </tbody>
                    </table>

                    <p style="text-align: center;font-size: 12px;"><pagination-controls (pageChange)="q = $event" class=""></pagination-controls></p>
                </div>
            </div>

            <!-------footer-->
            <app-footeradmin></app-footeradmin>
            <!--------------->
        </section>

            






          </div>

      </div>
  </div>
  



