



  





    <div id="wrapper">
        <!------side menu-------->
  
  <app-sidemenuadmin></app-sidemenuadmin>
  
  
  
        <!---------------------->
          <div class="d-flex flex-column" id="content-wrapper">
              <div id="content">
              <!---------top nav-->

                <!---------top nav-->
                <app-topnav></app-topnav>
                <!------------------>


              <!------------------>
  
  
  
  

              <section class="register-photo" style="background: rgb(255,255,255);">
                <div class="shadow-none form-container">
                    <form method="post">
                        <h2 class="text-center">Add Article</h2>
                        <div class="mb-3">
                            <div class="input-group"><span class="input-group-text" style="border-style: none;background: rgb(246,249,252);border-top-left-radius: 5px;border-top-right-radius: 5px;"><i class="fa fa-newspaper-o" style="color: rgb(255,75,19);font-size: 20px;"></i></span><input class="form-control" type="text" style="border-style: none;border-bottom-right-radius: 5px;border-top-right-radius: 5px;" placeholder="Title"></div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group"><span class="input-group-text" style="border-style: none;background: rgb(246,249,252);border-top-left-radius: 5px;border-top-right-radius: 5px;"><i class="fa fa-chain" style="color: rgb(255,75,19);font-size: 20px;"></i></span><select class="form-select" style="border-style: none;background: rgb(246,249,252);">
                                    <optgroup label="This is a group">
                                        <option value="12" selected="">This is item 1</option>
                                        <option value="13">This is item 2</option>
                                        <option value="14">This is item 3</option>
                                    </optgroup>
                                </select></div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group"><span class="input-group-text" style="border-style: none;background: rgb(246,249,252);border-top-left-radius: 5px;border-top-right-radius: 5px;"><i class="fa fa-paperclip" style="color: rgb(255,75,19);font-size: 20px;"></i></span><input class="form-control" type="text" style="border-style: none;border-bottom-right-radius: 5px;border-top-right-radius: 5px;" placeholder="Image Url"></div>
                        </div>
                        <div class="mb-3"><textarea class="form-control" id="editor" placeholder="Content" rows="14" cols="3" style="border-radius: 5px;height: 60px;" wrap="soft" spellcheck="true"></textarea></div>
                        <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="background: rgb(255,75,19);">Update</button></div>
                    </form>
                </div>
           

                <!-------footer-->
                <app-footeradmin></app-footeradmin>
                <!--------------->
           </section>
  
                
  
  
      
  
  
  
              </div>
    
          </div>
      </div>
      
  
  


