<footer class="footer-clean" style="background: var(--bs-danger);">
    <div class="container">
        <div class="row justify-content-center" style="color: rgb(255,255,255);">
            <div class="col-sm-4 col-md-3 item">
                <h3>Categories</h3>
                <ul>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Politics</a></li>
                    <li><a href="#">Goverment</a></li>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Sport</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 item">
                <h3>About</h3>
                <ul>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Legacy</a></li>
                </ul>
            </div>
            <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a>
                <p class="copyright">Spreadnews.com © 2022</p>
            </div>
        </div>
    </div>
</footer>
