<app-navbar></app-navbar>
<section class="register-photo" style="margin-top: 50px;background: rgb(255,255,255);">
    <div class="form-container">
        <div class="image-holder" style="background: url(&quot;assets/img/login.jpg&quot;) center / cover;"></div>
        
        <form  [formGroup]="form" #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" method="post">
                <h2 class="text-center" style="color: var(--bs-danger);"><strong>Create an</strong>&nbsp;account.</h2>
                <div class="mb-3">
                    <div class="input-group">
                      <span class="input-group-text" style="background: rgb(246,249,252);border-style: none;"><i class="material-icons" style="color: var(--bs-danger);font-size: 20px;">person</i></span>
                      
                      <input class="form-control" type="text" [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }"     formControlName="firstname" id="firstname" name="firstname" placeholder="Firstname" style="border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-style: none;">
                  
                       <!-----------vali-->    
      <div *ngIf="submitted && f['firstname'].errors" class="invalid-feedback">
        <div *ngIf="f['firstname'].errors['required']">Firstname is required</div>
        <div *ngIf="f['firstname'].errors['minlength']">firstname must be atleast 3 characters</div>
        <div *ngIf="f['firstname'].errors['pattern']">field should contain alaphabetical characters only.</div>
      </div>
        
   <!-----------vali-->   
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group"><span class="input-group-text" style="background: rgb(246,249,252);border-style: none;"><i class="material-icons" style="color: var(--bs-danger);font-size: 20px;">person</i></span>
                      <input class="form-control" type="text" [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }"  formControlName="lastname" type="text" id="lastname"  name="lastname" placeholder="Lastname" style="border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-style: none;">
                     
                        <!-----------vali-->    
          
                <div *ngIf="submitted && f['lastname'].errors" class="invalid-feedback">
                  <div *ngIf="f['lastname'].errors['required']">Lastname is required</div>
                  <div *ngIf="f['lastname'].errors['minlength']">Lastname must be atleast 3 characters</div>
                  <div *ngIf="f['lastname'].errors['pattern']">field should contain alaphabetical characters only.</div>
                </div>
                  
     <!-----------vali-->  
                    </div>
                
                
                  </div>
                <div class="mb-3">
                    <div class="input-group"><span class="input-group-text" style="background: rgb(246,249,252);border-style: none;"><i class="material-icons" style="color: var(--bs-danger);font-size: 20px;">mail</i></span>
                      
                      <input class="form-control" type="text" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" formControlName="email"   type="email" id="email"  name="email" placeholder="Email" style="border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-style: none;">
                    
    <!-----------vali-->    
          
    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
      <div *ngIf="f['email'].errors['required']">Email is required</div>
   
      <div *ngIf="f['email'].errors['pattern']">Incorrect email format</div>
    </div>
 <!-----------vali--> 
                    
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group"><span class="input-group-text" style="background: rgb(246,249,252);border-style: none;"><i class="material-icons" style="color: var(--bs-danger);font-size: 20px;">lock</i></span>
                      <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors } "   formControlName="password"  type="password" id="password"  name="password"  placeholder="Password" style="border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-style: none;">
                     <!-------validation password-->
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
            <div *ngIf="f['password'].errors['pattern']">
              Password should contain atleast 1 lowercase,atleast 1 uppercase,atleast 1 number and one character.
          </div>
            <div *ngIf="f['password'].errors['minlength']">
                Password should be atleast 6 characters long.
            </div>
            <div *ngIf="f['password'].errors['maxlength']">
             must not exceed 15 characters
            </div>
          
           
          </div>
        <!----------------->
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group"><span class="input-group-text" style="background: rgb(246,249,252);border-style: none;"><i class="material-icons" style="color: var(--bs-danger);font-size: 20px;">lock</i></span>
                      
                      <input class="form-control"[ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"  placeholder="Confirm Password"  formControlName="confirmPassword" type="text" type="password" id="confirmPassword"  name="confirmPassword" style="border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-style: none;">
                    
                     <!-------validation password-->
          <div
          *ngIf="submitted && f['confirmPassword'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['confirmPassword'].errors['required']">
            Confirm Password is required
          </div>
          <div *ngIf="f['confirmPassword'].errors['matching']">
            Confirm Password does not match
          </div>
        </div>
                  <!----------------->
                    </div>
                </div>
                <div class="mb-3"></div>
                <div class="mb-3"><button class="btn btn-danger d-block w-100" type="submit">Sign Up</button></div><a class="already" routerLink='/login' >You have an account?Sign In here.</a>
            </form>


    </div>    
</section>




